<!DOCTYPE html>
<html>
  <head>
    <title>TemplateRubyOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar"> 
      <ul>
      <li>
      <a href="/">home</a>
      </li>
      <li>
      <a href="/carros">carros</a>
      </li>
      <li>
      <a href="/clientes">clientes</a>
      </li>
      <li>
      <a href="/concessionaria">concessionarias</a>
      </li>
      </ul>
    </div>
    <div id="content">
    <%= yield %>
    </div>
  </body>
</html>
